* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  height: 100%;
  background-color: #1d212b;
  overflow: hidden;
}

#app {
  opacity: 0.5;
  width: 200vw;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #0f2027, #203a43, #2c5364);
  mix-blend-mode: color-dodge;
  position: relative;
  left: -200px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d212b;
}

div.point {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #0fffc1;
  letter-spacing: 0.4rem;
  border-radius: 50%;
  opacity: 0.5;
  animation: grow 10s ease infinite;
}
div:after {
  position: absolute;
  content: '';
  top: 5vw;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 34s ease infinite;
}
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes textColor {
  0% {
    color: #7e0fff;
  }
  50% {
    color: #0fffc1;
  }
  100% {
    color: #7e0fff;
  }
}

@keyframes grow {
  0% {
    filter: blur(0.2vw);
  }
  50% {
    filter: blur(0.5vw);
  }
  100% {
    filter: blur(0.2vw);
  }
}

canvas {
  position: absolute;
  top: 0;
  right: 0;
  filter: blur(15px);
  opacity: 0.2;
  height: 100vh;
  width: 100vw;
}
